
.hide {
    display: none;
}

.bordered {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}


body,h1,h2,h3,h5,h6,.h1,.h2,.h3,.h5,.h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
}

body {
    min-width: 480px;
}

.pure-g {
    font-size: 0;
}

.navbar {
    background-color: #ba0a0c;
    border-color: #de291c;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    color: #fff;
    background: #890503;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #de291c;
}


form .row button {
    display: block;
    width: 100%;
}


.price {
    font-size: 1.4em;
    color: #de291c;
}
.price span {
    margin-right: 3px;
}


#filter {
    width: 96%;
    margin: 0 auto;
}


#items {
    margin-top: 5px;
}

.item {
    width: 217px;
    padding-bottom: 6px;
    margin: 10px auto;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}
.item:hover {
    border-color: #de291c;
}

.item img {
    display: block;
    max-width: 215px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: -12px;
}

.item .price {
    display: block;
    margin: 4px 10px;
}

.item .title {
    display: block;
    margin: 4px 10px;
    overflow: hidden;
    font-size: 12px;
    color: #3c3c3c;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.detail {
    padding: 10px;
    margin: 1px;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.detail img {
    width: 100%;
}

.detail h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.detail .info {
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
}

.detail .info li {
    height: 35px;
    line-height: 35px;
}

.detail .info label {
    display: inline-block;
    width: 90px;
    font-weight: normal;
    color: #6c6c6c;
}

.detail .operate {
    margin-bottom: 1px;
}

.detail .operate a {
    padding-left: 20px;
    padding-right: 20px;
}

.detail.intro img {
    width: 100%!important;
}


.auth {
    max-width: 330px;
    padding: 10px 20px 20px;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.auth .error {
    padding-left: 10px;
    font-size: .5em;
    vertical-align: middle;
    color: #a94442;
}

.auth .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.auth .alter {
    float: right;
    margin: 23px 5px 0 0;
}


.edit-form {
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.edit-form [type="submit"] {
    width: 100%;
}


.user {
    padding: 10px;
    padding-left: 40px;
    margin-top: 10px;
    list-style: none;
}

.user li {
    height: 35px;
    line-height: 35px;
}

.user label {
    display: inline-block;
    width: 150px;
    font-weight: normal;
    color: #6c6c6c;
}

.user span {
    font-weight: bold;
}


.wysiwyg + * {
    margin-bottom: 20px;
}
.note-editor {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.note-toolbar.btn-toolbar {
    border-radius: 4px;
}


.message {
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.message p {
    margin-top: 5px;
    margin-bottom: 15px;
}
